@model Pet

<form asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />
    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label>Type</label>
        <input asp-for="Type" />
    </div>
    <div>
        <label>Date of Birth</label>
        <input asp-for="DateOfBirth" type="date" />
    </div>
    <div>
        <label>Color</label>
        <input asp-for="Color" />
    </div>
    <div>
        <label>Description</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div>
        <label>Current Photo</label>
        <img src="@Model.PhotoPath" alt="Pet photo" width="200" />
    </div>
    <div>
        <label>New Photo</label>
        <input type="file" name="photo" />
    </div>
    <button type="submit">Update</button>
</form>